export DUCKO_TEST_ALICE_JID="alice@your-server.example"
export DUCKO_TEST_ALICE_PASSWORD=""
export DUCKO_TEST_BOB_JID="bob@your-server.example"
export DUCKO_TEST_BOB_PASSWORD=""
export DUCKO_TEST_CAROL_JID="carol@your-server.example"
export DUCKO_TEST_CAROL_PASSWORD=""
