# SwiftPM
.build/
.swiftpm/xcode/xcuserdata/

# VS Code
.vscode/

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/

# macOS
.DS_Store
._*

# Environment & Secrets
.env
.env.local
.env.*.local
